apiVersion: v1
kind: ConfigMap
metadata:
  name: workflow-controller-configmap
data:
  artifactRepository: |
    archiveLogs: true
    s3:
      bucket: <<__s3.bucket.pipelines__>>
      keyPrefix: <<__s3.key_prefix.pipelines__>>
      endpoint: s3.amazonaws.com
      region: <<__aws_region__>>
      insecure: false
      accessKeySecret:
        name: pipelines-s3-secret 
        key: S3_ACCESSKEY
      secretKeySecret: 
        name: pipelines-s3-secret
        key: S3_SECRETKEY
